$fa-font-path: "../webfonts";
@import "./fa/fa-brands";
@import "./fa/fa-regular";
@import "./fa/fa-solid";
@import "./fa/fontawesome";

$primary: #C93312;
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/layout/_all";

.has-vcenter-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@import "./home";
@import "./blog";
