{{ define "main" }}
<div class="container blog content">
    <article>
        <header>
            <h1 class="title">{{ .Title }}</h1>
            <h5 class="subtitle">{{ .Date.Format "02 Jan 2006" }}{{partial "authors.html" .}}</h5>
        </header>
        <section>
            {{ .Content }}
        </section>
        <footer>
            <hr/>
            <div class="tags">
                <span class="tag is-white">Tags:</span>
                {{ range .Params.tags }}
                <a class="tag is-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
        </footer>
    </article>    
</div>
{{ end }}
