.blog {
    // this greatly improves legibility
    max-width: 700px;
    padding-left: .5rem;
    padding-right: .5rem;

    .author {
        text-decoration: underline;
        color: inherit;
    }
}

.blog article {
    margin: 4rem auto 2rem;

    &:first-child {
        margin-top: 5vh;
    }

    font-size: 1.1rem;

    h1 > a {
        color: $content-heading-color;
    }

    > section {
        margin-bottom: 1rem;
    }

    .subtitle {
        color: gray;
        margin-top: -1rem !important;
    }

    figure {
        margin: 1rem 2rem !important;
    }
}
