#home {
  > section {
    @extend .hero;

    &:nth-child(even) {
      @extend .is-light;
    }
  }
  .column {
    @extend .has-vcenter-contents;
  }
}

#intro {
  @include tablet() {
    .columns {
      flex-direction: row-reverse;
    }
  }

  #install {
    transition: all 250ms ease-in-out;
    overflow: hidden;

    > * {
      margin-bottom: 0.5rem;
    }
  }
}

.feature {

  h2 {
    margin: 0 0 1.5rem !important;
  }

  @include tablet() {
    .column {
      flex: none;
      margin: 0 2%;
      width: 35%;
    }
    &:nth-child(even) {
      .columns {
        flex-direction: row-reverse;
      }
    }
  }
}

.sample-code {

  // http://ethanschoonover.com/solarized
  $base03: #002b36;
  $base02: #073642;
  $base01: #586e75;
  $base00: #657b83;
  $base0: #839496;
  $base1: #93a1a1;
  $base2: #eee8d5;
  $base3: #fdf6e3;
  $yellow: #b58900;
  $orange: #cb4b16;
  $red: #dc322f;
  $magenta: #d33682;
  $violet: #6c71c4;
  $blue: #268bd2;
  $cyan: #2aa198;
  $green: #859900;

  $border-radius: 3px;

  > .filename {
    padding-left: 5px;
    font-size: 0.75rem;
    background-color: $base01;
    color: $base3;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    + pre {
      border-top-width: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  > pre {
    background-color: $base3;
    border-radius: $border-radius;
    border: solid $base1 1px;
  }

  .import {
    color: $red;
  }
  .keyword {
    color: $green;
  }
  .method {
    color: $blue;
  }
  .str {
    color: $cyan;
  }
  .num {
    color: $magenta;
  }
  .comment {
    color: $base1;
  }
}

.shell-command {
  border-radius: 3px;
  font-size: 1.25rem;
  white-space: initial;
  background: $dark;
  color: white !important;
  border-width: 0;
  padding: 0.25rem 0.75rem;

  $pad: 0.3rem;

  code {
    padding: $pad;
    display: inline-block;
  }

  .copy {
    padding: $pad 1.5rem;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    color: $primary;
    &:hover {
      background-color: $primary;
      color: white !important;
    }
    &:hover.has-text-success {
      background-color: $success;
    }
  }
}
