$fa-font-path: "../webfonts";
@import "./fontawesome/brands";
@import "./fontawesome/regular";
@import "./fontawesome/solid";
@import "./fontawesome/fontawesome";

/*!*
bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */
$primary: #C93312;
@import "./bulma/utilities/_all";
@import "./bulma/base/_all";
@import "./bulma/grid/_all";
@import "./bulma/elements/_all";
@import "./bulma/components/_all";
@import "./bulma/layout/_all";

/*!*
mitmproxy website | MIT License | github.com/mitmproxy/www */
.has-vcenter-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

@import "./home";
@import "./blog";
